body {
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

#head{
        margin-top: 47px;
        font-family: "Merriweather", serif;
        font-weight: bold;
    }

#bg{
    backdrop-filter: blur(1.5px);

}

#btn{
    margin-top: 30px;
}